# Node.js dependencies
node_modules/

# Backend sensitive information
backend/.env

# Frontend build output
frontend/dist/

# Foundry build artifacts and cache
contracts/out/
contracts/cache/
contracts/broadcast/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific
.DS_Store

contracts/lib/openzeppelin-contracts/
contracts/lib/account-abstraction/
.vercel
contracts/.env
